SUPABASE_URL=https://mmlnvddcdeubvfvxiagi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tbG52ZGRjZGV1YnZmdnhpYWdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE4MjU4NzIsImV4cCI6MjA3NzQwMTg3Mn0.Ids7sH2smf6jw0BjmPWJ8t-nIYzcePRhFrH_SxfwbHE
PORT=5000
CLIENT_URL=http://localhost:3000
NODE_ENV=development